.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  
  .container {
    font-family: "Poetsen One", sans-serif;
    background: linear-gradient(to right, #4b6cb7, #182848);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  form {
    text-align: center;
  }
  
  form a {
    text-decoration: none;
    color: #fff;
    font-size: large;
  }
  
  
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    color: black;
    font-size: large;
  }
  
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3F5EFB;
    color: #fff;
    font-size: large;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 30px;
  }
  
  button:hover {
    background: #304fc2;
  }
  
  input:focus,
  button:focus {
    outline: none;
  }
  
  